<section class="py-20 bg-gray-100 overflow-x-hidden">

    <div class="container px-4 mx-auto">

        <div class="relative bg-white overflow-hidden">
<!--
            <img class="absolute top-0 left-0 xl:-ml-40 w-full h-full"
                 src="assets/product_example/Ruchki-na-rozeti-KEDR.jpg"
                 alt="Ручки на розетці KEDR"/>
-->
            <div class="relative flex flex-wrap items-center">

                <div class="w-full md:w-4/6 p-10 lg:pl-40">

                    <span class="text-xl md:text-2xl">
                        Фурнітура зі складу
                    </span>

                    <h2 class="mt-4 mb-14 text-4xl md:text-5xl font-bold font-heading">
                        Замовте зараз - встановіть вже завтра
                    </h2>

                    <ButtonToCatalog></ButtonToCatalog>

                </div>

                <img class="relative ml-auto w-full md:w-2/6 h-96 object-cover"
                     src="assets/product_example/Sliding System KEDR.jpg"
                     alt="Розсувна система KEDR"/>

            </div>

        </div>

    </div>

</section>
