<div class="py-2 bg-green-500">
  <div class="flex justify-between items-center px-4">
    <p class="text-xs font-bold font-heading text-white">
      Пн–Пт, 9:00–18:00
    </p>
    <p class="text-xs font-bold font-heading text-white">
      (068) 713-50-49, (068) 713-50-49
    </p>
  </div>
</div>

@code {

}
