<ul class="hidden lg:flex absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:items-center lg:w-auto">
    <li>
        <a class="inline-block w-28 mr-3 py-2 text-center hover:text-white bg-white rounded-full font-bold font-heading transition duration-200 hover:bg-green-500"
           href="/catalog">
            Каталог
        </a>
    </li>
    <li>
        <a class="inline-block w-28 mr-3 py-2 text-center hover:text-white bg-white rounded-full font-bold font-heading transition duration-200 hover:bg-green-500"
           href="/about_us">
            Про нас
        </a>
    </li>
    <li>
        <a class="inline-block w-28 mr-3 py-2 text-center hover:text-white bg-white rounded-full font-bold font-heading transition duration-200 hover:bg-green-500"
           href="/contacts">
            Контакти
        </a>
    </li>
    <li>
        <a class="inline-block w-28 mr-3 py-2 text-center hover:text-white bg-white rounded-full font-bold font-heading transition duration-200 hover:bg-green-500"
           href="/FAQ">
            FAQ
        </a>
    </li>
</ul>

@code {

}
