<div class="hidden lg:block w-1/4 px-3">
    <Category></Category>
    <FilterColors></FilterColors>
    <FilterPrice></FilterPrice>
    <FilterSize></FilterSize>
    <FilterLocation></FilterLocation>
    <FilterDelivery></FilterDelivery>
</div>

