<div class="w-full lg:hidden px-3">
                <div class="flex flex-wrap -mx-2">
                    <div class="w-1/2 md:w-1/3 px-2 mb-4" x-data="{ showCategory: false }">
                        <div x-on:click.prevent="showCategory = !showCategory" class="py-6 px-2 text-center bg-gray-50">
                            <a class="font-bold font-heading" href="#">Category</a>
                            <ul :class="{'hidden': !showCategory}" class="hidden text-left mt-6">
                                <li class="mb-4"><a href="#">New in</a></li>
                                <li class="mb-4"><a href="#">Activewear</a></li>
                                <li class="mb-4"><a href="#">Hoodies & Sweatshirts</a></li>
                                <li class="mb-4"><a href="#">Jackets</a></li>
                                <li class="mb-4"><a href="#">Multipacks</a></li>
                                <li class="mb-4"><a href="#">Bags</a></li>
                                <li class="mb-4"><a href="#">Sports</a></li>
                                <li class="mb-4"><a href="#">Gifts</a></li>
                                <li><a href="#">Notes</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="w-1/2 md:w-1/3 px-2 mb-4" x-data="{ showCategory: false }">
                        <div x-on:click.prevent="showCategory = !showCategory" class="py-6 px-2 text-center bg-gray-50">
                            <a class="font-bold font-heading" href="#">FiltersColors</a>
                            <div :class="{'hidden': !showCategory}" class="hidden mt-6 flex flex-wrap">
                                <button x-on:click="color = 1" class="mr-4 mb-2 rounded-full border border-blue-300 p-1" :class="{ 'border-blue-300': color==1, 'border-transparent hover:border-gray-300': color!=1 }">
                                    <div class="rounded-full bg-blue-300 w-5 h-5"></div>
                                </button>
                                <button x-on:click="color = 2" class="mr-4 mb-2 rounded-full border border-transparent hover:border-gray-300 p-1" :class="{ 'border-blue-300': color==2, 'border-transparent hover:border-gray-300': color!=2 }">
                                    <div class="rounded-full bg-orange-300 w-5 h-5"></div>
                                </button>
                                <button x-on:click="color = 3" class="mr-4 mb-2 rounded-full border border-transparent hover:border-gray-300 p-1" :class="{ 'border-blue-300': color==3, 'border-transparent hover:border-gray-300': color!=3 }">
                                    <div class="rounded-full bg-gray-900 w-5 h-5"></div>
                                </button>
                                <button x-on:click="color = 4" class="mr-4 mb-2 rounded-full border border-transparent hover:border-gray-300 p-1" :class="{ 'border-blue-300': color==4, 'border-transparent hover:border-gray-300': color!=4 }">
                                    <div class="rounded-full bg-red-300 w-5 h-5"></div>
                                </button>
                                <button x-on:click="color = 5" class="mr-4 mb-2 rounded-full border border-transparent hover:border-gray-300 p-1" :class="{ 'border-blue-300': color==5, 'border-transparent hover:border-gray-300': color!=5 }">
                                    <div class="rounded-full bg-green-300 w-5 h-5"></div>
                                </button>
                                <button x-on:click="color = 6" class="mr-4 mb-2 rounded-full border border-transparent hover:border-gray-300 p-1" :class="{ 'border-blue-300': color==6, 'border-transparent hover:border-gray-300': color!=6 }">
                                    <div class="rounded-full bg-pink-300 w-5 h-5"></div>
                                </button>
                                <button x-on:click="color = 7" class="mr-4 mb-2 rounded-full border border-transparent hover:border-gray-300 p-1" :class="{ 'border-blue-300': color==7, 'border-transparent hover:border-gray-300': color!=7 }">
                                    <div class="rounded-full bg-yellow-300 w-5 h-5"></div>
                                </button>
                                <button x-on:click="color = 8" class="mr-4 mb-2 rounded-full border border-transparent hover:border-gray-300 p-1" :class="{ 'border-blue-300': color==8, 'border-transparent hover:border-gray-300': color!=8 }">
                                    <div class="rounded-full bg-gray-100 w-5 h-5"></div>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="w-1/2 md:w-1/3 px-2 mb-4" x-data="{ showCategory: false }">
                        <div x-on:click.prevent="showCategory = !showCategory" class="py-6 px-4 text-center bg-gray-50">
                            <a class="font-bold font-heading" href="#">FiltersPrice</a>
                            <div :class="{'hidden': !showCategory}" class="hidden mt-6">
                                <input x-model="price" class="w-full mb-4 outline-none appearance-none bg-gray-100 h-1 rounded cursor-pointer" type="range" min="1" max="289"/>
                                <div class="flex justify-between">
                                    <span x-text="price + '$'" class="inline-block text-lg font-bold font-heading text-blue-300">50$</span>
                                    <span class="inline-block text-lg font-bold font-heading text-blue-300">$289</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="w-1/2 md:w-1/3 px-2 mb-4" x-data="{ showCategory: false }">
                        <div x-on:click.prevent="showCategory = !showCategory" class="py-6 px-4 text-center bg-gray-50">
                            <a class="font-bold font-heading" href="#">FiltersSize</a>
                            <div :class="{'hidden': !showCategory}" class="hidden mt-6 flex flex-wrap -mx-2 -mb-2">
                                <button x-ref="size10" x-on:click="size = $refs.size10.textContent" class="relative mb-2 mr-1 w-16 border rounded-md" :class="{ 'hover:border-gray-400': size != $refs.size10.textContent }">
                                    36
                                    <span class="absolute bottom-0 left-0 w-full py-px bg-blue-300" :class="{ 'bg-blue-300': size == $refs.size10.textContent }"></span>
                                </button>
                                <button x-ref="size11" x-on:click="size = $refs.size11.textContent" class="relative mb-2 mr-1 w-16 border rounded-md hover:border-gray-400" :class="{ 'hover:border-gray-400': size != $refs.size11.textContent }">
                                    37
                                    <span class="absolute bottom-0 left-0 w-full py-px" :class="{ 'bg-blue-300': size == $refs.size11.textContent }"></span>
                                </button>
                                <button x-ref="size12" x-on:click="size = $refs.size12.textContent" class="relative mb-2 mr-1 w-16 border rounded-md hover:border-gray-400" :class="{ 'hover:border-gray-400': size != $refs.size12.textContent }">
                                    38
                                    <span class="absolute bottom-0 left-0 w-full py-px" :class="{ 'bg-blue-300': size == $refs.size12.textContent }"></span>
                                </button>
                                <button x-ref="size13" x-on:click="size = $refs.size13.textContent" class="relative mb-2 mr-1 w-16 border rounded-md hover:border-gray-400" :class="{ 'hover:border-gray-400': size != $refs.size13.textContent }">
                                    39
                                    <span class="absolute bottom-0 left-0 w-full py-px" :class="{ 'bg-blue-300': size == $refs.size13.textContent }"></span>
                                </button>
                                <button x-ref="size14" x-on:click="size = $refs.size14.textContent" class="relative mb-2 mr-1 w-16 border rounded-md hover:border-gray-400" :class="{ 'hover:border-gray-400': size != $refs.size14.textContent }">
                                    40
                                    <span class="absolute bottom-0 left-0 w-full py-px" :class="{ 'bg-blue-300': size == $refs.size14.textContent }"></span>
                                </button>
                                <button x-ref="size15" x-on:click="size = $refs.size15.textContent" class="relative mb-2 mr-1 w-16 border rounded-md hover:border-gray-400" :class="{ 'hover:border-gray-400': size != $refs.size15.textContent }">
                                    41
                                    <span class="absolute bottom-0 left-0 w-full py-px" :class="{ 'bg-blue-300': size == $refs.size15.textContent }"></span>
                                </button>
                                <button x-ref="size16" x-on:click="size = $refs.size16.textContent" class="relative mb-2 mr-1 w-16 border rounded-md hover:border-gray-400" :class="{ 'hover:border-gray-400': size != $refs.size16.textContent }">
                                    42
                                    <span class="absolute bottom-0 left-0 w-full py-px" :class="{ 'bg-blue-300': size == $refs.size16.textContent }"></span>
                                </button>
                                <button x-ref="size17" x-on:click="size = $refs.size17.textContent" class="relative mb-2 mr-1 w-16 border rounded-md hover:border-gray-400" :class="{ 'hover:border-gray-400': size != $refs.size17.textContent }">
                                    43
                                    <span class="absolute bottom-0 left-0 w-full py-px" :class="{ 'bg-blue-300': size == $refs.size17.textContent }"></span>
                                </button>
                                <button x-ref="size18" x-on:click="size = $refs.size18.textContent" class="relative mb-2 mr-1 w-16 border rounded-md hover:border-gray-400" :class="{ 'hover:border-gray-400': size != $refs.size18.textContent }">
                                    44
                                    <span class="absolute bottom-0 left-0 w-full py-px" :class="{ 'bg-blue-300': size == $refs.size18.textContent }"></span>
                                </button>
                            </div>
                            <div class="hidden mt-4 text-right">
                                <a class="inline-flex underline text-blue-300 hover:text-blue-400" href="#">
                                    <span class="mr-2">Show all</span>
                                    <svg width="14" height="27" viewbox="0 0 14 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6.83901 26.2775L0.151884 19.5904L0.987775 18.7545L6.66766 24.4343L6.66347 0.782814L7.84208 0.782814L7.84626 24.4343L13.1082 19.1724L13.9441 20.0083L7.6749 26.2775C7.44407 26.5083 7.06985 26.5083 6.83901 26.2775Z" fill="#3C60D9"></path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="w-1/2 md:w-1/3 px-2 mb-4" x-data="{ showCategory: false }">
                        <div x-on:click.prevent="showCategory = !showCategory" class="py-6 px-4 text-center bg-gray-50">
                            <a class="font-bold font-heading" href="#">FiltersLocation</a>
                            <div :class="{'hidden': !showCategory}" class="hidden mt-6">
                                <label class="flex mb-3 items-center text-lg">
                                    <input type="checkbox"/>
                                    <span class="ml-2">Standard</span>
                                </label>
                                <label class="flex items-center text-lg">
                                    <input type="checkbox"/>
                                    <span class="ml-2">Next day (yes!)</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="w-1/2 md:w-1/3 px-2 mb-4" x-data="{ showCategory: false }">
                        <div x-on:click.prevent="showCategory = !showCategory" class="py-6 px-4 text-center bg-gray-50">
                            <a class="font-bold font-heading" href="#">FiltersLocation</a>
                            <input :class="{'hidden': !showCategory}" class="hidden mt-6 w-full px-8 py-4 bg-white border rounded-md" type="serach" placeholder="City"/>
                        </div>
                    </div>
                </div>
            </div>

@code {

}
