<div class="pt-14 flex items-center justify-center">
  <a class="inline-block mr-4 text-white text-2xl font-bold font-heading" href="#">
    <img class="h-7" src="https://static.shuffle.dev/uploads/files/cc/cc2b319d9fea73709f4b3b455c835703a09d3dc9/kedr-logo.svg"
         alt="kedr-logo"
         width="auto"/>
  </a>
  <p class="inline-block text-sm text-gray-400">© 2025 Class Kedr — Всі права захищені.</p>
</div>

@code {

}
