<div class="py-12 lg:py-24 bg-gray-50">
    <div class="container mx-auto px-4">
      <h4 class="lg:ml-16 mb-6 font-bold font-heading text-xs text-gray-300">БРЕНДИ, З ЯКИМИ МИ ПРАЦЮЄМО</h4>
      <div class="flex flex-wrap -mx-3 -mb-3">

          <div class="w-full md:w-1/2 lg:w-1/6 p-3">
              <div class="h-28 flex items-center justify-center bg-white shadow-xl overflow-hidden">
                  <img
                      class="max-h-full max-w-full object-contain"
                      src="assets/images/Korfad.png"
                      alt="Korfad"/>
              </div>
          </div>

          <div class="w-full md:w-1/2 lg:w-1/6 p-3">
              <div class="h-28 flex items-center justify-center bg-white shadow-xl overflow-hidden">
                  <img
                      class="max-h-full max-w-full object-contain"
                      src="assets/images/Leador.png"
                      alt="Leador"/>
              </div>
          </div>

          <div class="w-full md:w-1/2 lg:w-1/6 p-3">
              <div class="h-28 flex items-center justify-center bg-white shadow-xl overflow-hidden">
                  <img
                      class="max-h-full max-w-full object-contain"
                      src="assets/images/Syndicate.png"
                      alt="Syndicate">
              </div>
          </div>

          <div class="w-full md:w-1/2 lg:w-1/6 p-3">
              <div class="h-28 flex items-center justify-center bg-white shadow-xl overflow-hidden">
                  <img
                      class="max-h-full max-w-full object-contain"
                      src="assets/images/Steelguardmain.png"
                      alt="Steelguard"/>
              </div>
          </div>

          <div class="w-full md:w-1/2 lg:w-1/6 p-3">
              <div class="h-28 flex items-center justify-center bg-white shadow-xl overflow-hidden">
                  <img
                      class="max-h-full max-w-full object-contain"
                      src="assets/images/SOVA.png"
                      alt="Sova"
                  />
              </div>
          </div>

          <div class="w-full md:w-1/2 lg:w-1/6 p-3">
              <div class="h-28 flex items-center justify-center bg-white shadow-xl overflow-hidden">
                  <img
                      class="max-h-full max-w-full object-contain"
                      src="assets/images/LA.png"
                      alt="La"
                  />
              </div>
          </div>

      </div>
    </div>
  </div>

@code {

}
