<div class="container mx-auto px-4 pb-16">
    <div class="flex flex-wrap -mx-4">
        <div class="w-full lg:w-8/12 px-4 mb-6 lg:mb-0">

            <div class="relative h-full bg-white overflow-hidden removed">

                <img class="absolute right-0 top-0 w-1/2 h-full object-cover"
                     src="assets/images/placeholder1.png"
                     alt="placeholder1"/>

                <div class="relative max-w-xl pl-6 lg:pl-20 pt-32 pb-24">

                    <span class="px-3 py-1 border rounded-full text-xs font-bold font-heading uppercase border-green-500 text-green-500">
                        Рекомендуємо
                    </span>

                    <h2 class="mt-6 mb-8 text-5xl lg:text-6xl font-bold font-heading">
                        <span>Надійна дверна</span>
                        <span class="text-green-500">фурнітура</span>
                        <span>для дому та офісу.</span>
                    </h2>

                    <p class="mb-20 text-lg text-gray-600">
                        Ручки, замки, петлі — усе в одному місці.
                    </p>

                    <ButtonToCatalog></ButtonToCatalog>

                </div>
            </div>
        </div>

        <div class="w-full lg:w-4/12 px-4">

            <a href="#">
                <img class="mb-6" src="assets/images/placeholder3.png"
                     alt="placeholder3"/>
            </a>

            <a href="#">
                <img src="assets/images/placeholder2.png"
                     alt="placeholder2"/>
            </a>
        </div>

    </div>
</div>

@code {

}
