<div :class="{'hidden': showContent}" class="text-center">
  <a x-on:click.prevent="showContent = true" class="inline-block bg-orange-300 hover:bg-orange-400 text-white font-bold font-heading py-6 px-8 rounded-md uppercase"
     href="/catalog">
    Show More
  </a>
</div>

