@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="text-3xl font-bold text-blue-600">Tailwind работает!</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button class="btn btn-primary">Проверка DaisyUI</button>
</div>
