<!DOCTYPE html>
<html data-theme="kedrStore" lang="uk">
<head>
    <meta charset="utf-8" data-theme="kedrStore" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Інтернет-магазин дверної фурнітури Кедр — якісна продукція для дверей з доставкою по всій Україні.">
    <link rel="icon" type="image/png" href="~/favicon.png" sizes="48x48" />
    <link rel="stylesheet" href="~/css/site.css" />

    <title>@ViewBag.Title - Web</title>
</head>
<body class="min-h-screen flex flex-col bg-gray-200">

    <header class="bg-base-100">

        <div class="hidden md:block w-full bg-gray-200">
            <div class="container mx-auto px-4 py-2 flex justify-between items-center text-black">
                <span class="text-sm font-bold text-lg">info@kedr.ua</span>
                <span class="text-sm">(068) 713-50-49 | (068) 713-50-49 | Пн–Пт | 9:00–18:00</span>
            </div>
        </div>

        <!-- ✅ Mobile Header  -->
        <div class="md:hidden bg-white shadow-sm border-b border-gray-200 px-4 py-2 flex justify-between items-center relative z-50">
            <!-- Left side: burger -->
            <div>
                <input id="menu-drawer" type="checkbox" class="drawer-toggle hidden" />
                <label for="menu-drawer" class="btn btn-circle swap swap-rotate md:hidden">
                    <input type="checkbox" />
                    <img src="/images/icons/menu.svg" class="swap-off w-6 h-6" alt="open" />
                    <img src="/images/icons/close.svg" class="swap-on w-6 h-6" alt="close" />
                </label>
                <!-- Drawer menu -->
                <div class="drawer-side z-50">
                    <label for="menu-drawer" class="drawer-overlay"></label>
                    <ul class="menu p-4 w-72 min-h-full bg-base-100 text-base-content">
                        <li class="mt-4">
                            <label class="input w-full">
                                <img src="/images/icons/search.png" alt="search" class="h-5 w-5" />
                                <input type="search" placeholder="Пошук товарів" class="w-full" />
                            </label>
                        </li>
                        <li><a href="#">Каталог</a></li>
                        <li><a href="#">Про нас</a></li>
                        <li><a href="#">Контакти</a></li>
                        <li><a href="#">Вхід</a></li>
                        <li><a href="#">Реєстрація</a></li>
                    </ul>
                </div>
            </div>

            <!-- Center: logo  -->
            <img src="/images/logo/kedr-logo.svg" alt="Kedr — логотип" class="h-10" />

            <!-- Right side: basket -->
            <div class="indicator">
                <span class="indicator-item badge badge-primary  translate-x-2 -translate-y-1 scale-70">8</span>
                <button class="btn btn-ghost btn-circle">
                    <img src="/images/icons/basket.png" alt="basket" class="h-5 w-5 block" />
                </button>
            </div>
        </div>

        <!-- ✅ Tablet and above title -->
        <div class="hidden md:flex md:flex-row md:justify-between items-center container mx-auto px-4 py-4 flex flex-col  gap-4">
            
            <div class="flex items-center gap-3 shrink-0">

                <!-- LOGO -->
                <img src="/images/logo/kedr-logo.svg" alt="Kedr — логотип" class="h-10 align-middle hidden md:block" />

                <!-- Text -->
                <label class="hidden lg:block text-sm">
                    Продаж замків і дверної<br> фурнітури по всій Україні
                </label>
                <!-- basket mini -->
                <div class="indicator block hidden md:block lg:hidden">
                    <span class="indicator-item badge badge-primary  translate-x-2 -translate-y-1 scale-70">8</span>
                    <button class="btn btn-ghost btn-circle">
                        <img src="/images/icons/basket.png" alt="basket" class="h-5 w-5 block" />
                    </button>
                </div>
            </div>

            <!-- Search -->
            <div class="hidden md:block w-full lg:w-120">
                <label class="input  w-full lg:w-120">
                    <img src="/images/icons/search.png" alt="search" class="h-5 w-5 md:h-6 md:w-6" />
                    <input type="search" required placeholder="Пошук по всім товарам" class="w-full" />
                </label>
            </div>
            
            <!-- Buttons -->
            <div class="flex gap-3">
                <!-- basket full -->
                <div class="hidden indicator lg:block">
                    <span class="indicator-item badge badge-primary translate-x-2 -translate-y-1 scale-90">8</span>
                    <button class="btn btn-outline">
                        <img src="/images/icons/basket.png" alt="basket" class="h-5 w-5 block" />
                        <span class="text-black">Корзина</span>
                    </button>
                </div>
                <!-- account full -->
                <div class=" dropdown dropdown-hover hidden md:block">
                    <button class="btn btn-outline">
                        <img src="/images/icons/account.png" alt="account" class="h-5 w-5 block" />
                        Акаунт
                    </button>
                    <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-1 w-auto p-2 shadow-sm">
                        <li><a class="hover:bg-primary hover:text-white">Вхід</a></li>
                        <li><a class="hover:bg-primary hover:text-white">Реєстрація</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
        <!-- ✅ Tablet and above Nav-->
        <div class="hidden md:flex bg-neutral text-white">
            <div class="container mx-auto px-4 flex">
                <nav aria-label="Основна навігація">
                    <ul class="flex divide-x divide-white/30 text-sm">

                        <li><a asp-controller="Home" asp-action="Index" class="uppercase px-4 py-3 inline-block transition-colors duration-300 hover:bg-primary">Головна</a></li>
                        <li><a asp-controller="Home" asp-action="Product" class="uppercase px-4 py-3 inline-block transition-colors duration-300 hover:bg-primary">Фурнітура</a></li>

                        <li class="relative group">
                            <a href="#" class="uppercase px-4 py-3 block transition-colors duration-300 hover:bg-primary hover:text-white">Двері</a>

                            <ul class="absolute left-0 top-full hidden group-hover:block bg-white text-black shadow-md z-50 min-w-[200px] border border-gray-200">
                                <li><a href="#" class="block px-4 py-2 transition-colors duration-300 hover:bg-gray-100">Вхідні двері</a></li>
                                <li><a href="#" class="block px-4 py-2 transition-colors duration-300 hover:bg-gray-100">Міжкімнатні двері</a></li>
                            </ul>
                        </li>

                        <li><a href="#" class="uppercase px-4 py-3 inline-block transition-colors duration-300 hover:bg-primary">Акції</a></li>
                        <li><a href="#" class="uppercase px-4 py-3 inline-block transition-colors duration-300 hover:bg-primary">Про нас</a></li>
                        <li><a href="#" class="uppercase px-4 py-3 inline-block transition-colors duration-300 hover:bg-primary">Контакти</a></li>

                    </ul>
                </nav>
            </div>
        </div>

    </header>

    <main class="container mx-auto p-4 flex-grow">
        @RenderBody()
    </main>

    <footer class="bg-secondary text-secondary-content">
        <div class="container mx-auto px-4 py-10">
            <div class="footer sm:footer-horizontal">
                <!-- Logo -->
                <div>
                    <img src="/images/logo/kedr-logo.svg" alt="Kedr — логотип" class="h-10 mb-4" />
                    <p>© 2025 kedr.ua — Всі права захищені.</p>
                </div>

                <!-- Services -->
                <nav>
                    <h6 class="footer-title">Каталог</h6>
                    <a class="link link-hover">Branding</a>
                    <a class="link link-hover">Design</a>
                    <a class="link link-hover">Marketing</a>
                    <a class="link link-hover">Advertisement</a>
                </nav>

                <!-- Company -->
                <nav>
                    <h6 class="footer-title">Компанія</h6>
                    <a class="link link-hover">About us</a>
                    <a class="link link-hover">Contact</a>
                    <a class="link link-hover">Jobs</a>
                    <a class="link link-hover">Press kit</a>
                </nav>

                <!-- Legal -->
                <nav>
                    <h6 class="footer-title">Безпека</h6>
                    <a class="link link-hover">Terms of use</a>
                    <a class="link link-hover">Privacy policy</a>
                    <a class="link link-hover">Cookie policy</a>
                </nav>

                <!-- Social -->
                <nav>
                    <p>(068) 713-50-49 <br>(068) 713-50-49</p>
                    <p>вул. Ахієзерів, 46 м.Харків</p>

                    <div class="grid grid-flow-col gap-3">
                        <a href="https://www.instagram.com/kedr.class/" target="_blank" class="text-white hover:text-secondary">
                            <img src="/images/icons/instagram.svg" alt="Instagram" class="h-6 w-6" />
                        </a>
                        <a href="https://www.youtube.com/channel/UCMzipw3fGj8I8HgQXiPoTWQ" target="_blank" class="text-white hover:text-primary">
                            <img src="/images/icons/icons8-youtube.svg" alt="Youtube" class="h-6 w-6" />
                        </a>
                        <a href="https://web.telegram.org/k/#197393163" target="_blank" class="text-white hover:text-primary">
                            <img src="/images/icons/telegram-app.svg" alt="Telegram" class="h-6 w-6" />
                        </a>
                    </div>

                    <img src="/images/visa_mastercard.png" alt="Visa MasterCard" class="h-6" />
                </nav>
            </div>
        </div>
    </footer>

</body>
</html>
