<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web</title>
    <link rel="icon" type="image/png" href="~/favicon.png" sizes="48x48" />
</head>
<body>
    <header>
        
    </header>
   

    <footer>
        
    </footer>
    
</body>
</html>
