<!DOCTYPE html>
<html data-theme="kedrStore" lang="uk">
<head>
    <meta charset="utf-8" data-theme="kedrStore" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Інтернет-магазин дверної фурнітури Кедр — якісна продукція для дверей з доставкою по всій Україні.">
    <link rel="icon" type="image/png" href="~/favicon.png" sizes="48x48" />
    <link rel="stylesheet" href="~/css/site.css" />

    <title>@ViewBag.Title - Web</title>
</head>
<body>
    <header>
        <h1>@ViewBag.H1</h1>
        <nav>
            <a href="/">Головна</a>
            <a href="/catalog">Каталог</a>
            <a href="/contacts">Контакти</a>
        </nav>
    </header>

    <main class ="container mx-auto p-4">
        @RenderBody()
    </main>

    <footer>
    <p>&copy; 2025 Кедр. Всі права захищені.</p>
    </footer>
</body>
</html>
