@page "/"

<PageTitle>Головна | Class Kedr</PageTitle>

<section class="bg-blue-50 bg-opacity-20 bs-section-dragged">

  <Placeholders></Placeholders>
  <Brending></Brending>

</section>

<CallToAction></CallToAction>
