<section class="relative bg-gray-50">


    <HeaderTopBar></HeaderTopBar>

    <nav class="relative flex flex-wrap">

        <div class="flex justify-between w-full bg-gray-500 removed">

            <div class="px-12 py-8 flex w-full items-center">
                <HeaderBranding></HeaderBranding>
                <HeaderMainNavigation></HeaderMainNavigation>
            </div>

            <BurgerMenu></BurgerMenu>

        </div>
    </nav>

    <HeaderSearchBar></HeaderSearchBar>

</section>
