<a class="flex items-center gap-2" href="#">
  <img class="h-12" src="assets/logo/kedr-logo.svg" alt="Kedr — лого" width="auto"/>
  <img class="h-12" src="assets/logo/class-logo.svg" alt="class — лого" width="auto"/>
</a>

@code {

}
