 <div class="mb-6 py-12 pl-12 pr-6 bg-gray-50"><h3 class="mb-8 text-2xl font-bold font-heading">Size</h3>
     <div class="flex flex-wrap -mx-2 -mb-2">
         <button x-ref="size1" x-on:click="size = $refs.size1.textContent" class="relative mb-2 mr-1 w-16 border rounded-md" :class="{ 'hover:border-gray-400': size != $refs.size1.textContent }">
             36
             <span class="absolute bottom-0 left-0 w-full py-px bg-blue-300" :class="{ 'bg-blue-300': size == $refs.size1.textContent }"></span>
         </button>
         <button x-ref="size2" x-on:click="size = $refs.size2.textContent" class="relative mb-2 mr-1 w-16 border rounded-md hover:border-gray-400" :class="{ 'hover:border-gray-400': size != $refs.size2.textContent }">
             37
             <span class="absolute bottom-0 left-0 w-full py-px" :class="{ 'bg-blue-300': size == $refs.size2.textContent }"></span>
         </button>
         <button x-ref="size3" x-on:click="size = $refs.size3.textContent" class="relative mb-2 mr-1 w-16 border rounded-md hover:border-gray-400" :class="{ 'hover:border-gray-400': size != $refs.size3.textContent }">
             38
             <span class="absolute bottom-0 left-0 w-full py-px" :class="{ 'bg-blue-300': size == $refs.size3.textContent }"></span>
         </button>
         <button x-ref="size4" x-on:click="size = $refs.size4.textContent" class="relative mb-2 mr-1 w-16 border rounded-md hover:border-gray-400" :class="{ 'hover:border-gray-400': size != $refs.size4.textContent }">
             39
             <span class="absolute bottom-0 left-0 w-full py-px" :class="{ 'bg-blue-300': size == $refs.size4.textContent }"></span>
         </button>
         <button x-ref="size5" x-on:click="size = $refs.size5.textContent" class="relative mb-2 mr-1 w-16 border rounded-md hover:border-gray-400" :class="{ 'hover:border-gray-400': size != $refs.size5.textContent }">
             40
             <span class="absolute bottom-0 left-0 w-full py-px" :class="{ 'bg-blue-300': size == $refs.size5.textContent }"></span>
         </button>
         <button x-ref="size6" x-on:click="size = $refs.size6.textContent" class="relative mb-2 mr-1 w-16 border rounded-md hover:border-gray-400" :class="{ 'hover:border-gray-400': size != $refs.size6.textContent }">
             41
             <span class="absolute bottom-0 left-0 w-full py-px" :class="{ 'bg-blue-300': size == $refs.size6.textContent }"></span>
         </button>
         <button x-ref="size7" x-on:click="size = $refs.size7.textContent" class="relative mb-2 mr-1 w-16 border rounded-md hover:border-gray-400" :class="{ 'hover:border-gray-400': size != $refs.size7.textContent }">
             42
             <span class="absolute bottom-0 left-0 w-full py-px" :class="{ 'bg-blue-300': size == $refs.size7.textContent }"></span>
         </button>
         <button x-ref="size8" x-on:click="size = $refs.size8.textContent" class="relative mb-2 mr-1 w-16 border rounded-md hover:border-gray-400" :class="{ 'hover:border-gray-400': size != $refs.size8.textContent }">
             43
             <span class="absolute bottom-0 left-0 w-full py-px" :class="{ 'bg-blue-300': size == $refs.size8.textContent }"></span>
         </button>
         <button x-ref="size9" x-on:click="size = $refs.size9.textContent" class="relative mb-2 mr-1 w-16 border rounded-md hover:border-gray-400" :class="{ 'hover:border-gray-400': size != $refs.size9.textContent }">
             44
             <span class="absolute bottom-0 left-0 w-full py-px" :class="{ 'bg-blue-300': size == $refs.size9.textContent }"></span>
         </button>
     </div>
     <div class="mt-4 text-right">
         <a class="inline-flex underline text-blue-300 hover:text-blue-400" href="#">
             <span class="mr-2">Show all</span>
             <svg width="14" height="27" viewbox="0 0 14 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                 <path d="M6.83901 26.2775L0.151884 19.5904L0.987775 18.7545L6.66766 24.4343L6.66347 0.782814L7.84208 0.782814L7.84626 24.4343L13.1082 19.1724L13.9441 20.0083L7.6749 26.2775C7.44407 26.5083 7.06985 26.5083 6.83901 26.2775Z" fill="#3C60D9"></path>
             </svg>
         </a>
     </div>
 </div>


@code {

}
