@page "/"

<PageTitle>@Title</PageTitle>
<HeadContent>
  <meta name="description" content="@Description">
</HeadContent>


<section class="bg-blue-50 bg-opacity-20 bs-section-dragged">

  <Placeholders></Placeholders>
  <Brending></Brending>

</section>

<CallToAction></CallToAction>

@code{
  string Description { get;} = "Class Kedr Description";
  string Title  { get; } = "Головна | Class Kedr";
}
