name: Deploy to Cloud Run

on:
  push:
    branches: [ "master" ]

permissions:
  contents: read
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Auth to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}'

      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v2

      - name: Configure Docker for Artifact Registry
        run: gcloud auth configure-docker europe-central2-docker.pkg.dev --quiet

      - name: Build & Push image
        run: |
          IMAGE="europe-central2-docker.pkg.dev/classkedrproject/api/api:${{ github.sha }}"
          docker build -t "$IMAGE" .
          docker push "$IMAGE"
          echo "IMAGE=$IMAGE" >> $GITHUB_ENV

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy api \
          --image "${{ env.IMAGE }}" \
          --region europe-central2 \
          --platform managed \
          --allow-unauthenticated \
          --set-env-vars ASPNETCORE_ENVIRONMENT=Production \
          --set-secrets \
          "ConnectionStrings__Default=db-connection:latest" \
          "OneCSoap__Endpoint=onec-endpoint:latest" \
          "OneCSoap__Username=onec-username:latest" \
          "OneCSoap__Password=onec-password:latest" \
          "Identity__AdminUser__DefaultPassword=identity-admin-password:latest" \
          "Telegram__BotToken=telegram-bot-token:latest" \
          "Telegram__ChatId=telegram-chat-id:latest" \
          --quiet
